/* This css file is included by being imported in index.js */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    width: 100%
}

h1 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

.content {
    width: 700px;
    margin: auto;
}

.stock-row,
.stock-header {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.stock-header > div {
    color: #ffffff !important;
    font-weight: bold;
    word-break: break-word;
    font-size: 14px;
    background-color: #000000;
    height: 50px;
}
.stock-header > div,
.stock-row > div {
    width: 100px;
    padding: 10px 10px 0 0;
}

.stock-row > div {
    padding: 10px 10px 0 0;
    height: 30px;
    color: #333333;
    border-bottom: 1px solid #000;
}
.stock-row:hover {
    background-color: #bcdff7;
}

.stock-header>div:first-child,
.stock-row>div:first-child {
    padding-left: 10px;
}

.documentation {
    max-width: 900px;
    margin: auto;
}